.container-fluid{
	background-color: #838080;
	box-sizing: border-box;
	margin: 0px;
	width: 100%
}


#header-nav{
    background-color:#838080;
    color: #000000;
    border: 2px solid #000000;
	margin-bottom: 0px;
	width: 100%;
	border-radius: 0px;
}
#brand{
	color: #000000;
	background-color:#838080;
	font-size: 40px;
	font-family:"Noto Sans JP", sans-serif;
	font-color:#000000;
	text-decoration: none;
	margin-top: 5px;
}
#myNavbar{
	background-color: #FFFFFF;
	margin-top:80px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%
}
#menu{
	background-color:#ffffff;
    clear: both;
	border-top: 3px solid #000000;
	margin-top: -3px;
	display: block;
	width: 100%;
	position:relative;

}
#menu1{
	color: #000000;
	font-size: 20px;
	font-family:"Noto Sans JP", sans-serif;
	font-color:#000000;
	text-decoration: none;
	text-align: center;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: -30px;
	background-color: #FFFFFF;
	border-bottom: 2px solid #000000;
	border-top: 2px solid #000000;
	box-sizing: border-box;
	
}

#menu2{
	color: #000000;
	font-size: 20px;
	font-family:"Noto Sans JP", sans-serif;
	font-color:#000000;
	text-decoration: none;
	text-align: center;
	margin-bottom:0px;
	margin-right: -30px;
	background-color: #FFFFFF;
}
#menu3{
	color: #000000;
	font-size: 20px;
	font-family:"Noto Sans JP", sans-serif;
	font-color:#000000;
	text-decoration: none;
	text-align: center;
	margin-bottom: 0px;
	margin-right: -30px;
	background-color: #FFFFFF;
	border-top: 2px solid #000000;
	box-sizing: border-box;
}
.icon-bar{
	border: 3px solid #000000;
	box-sizing: border-box;
	
}

.navbar-header button.navbar-toggle, navbar-header{
	border:1px solid #000000;
}
.navbar-header button.navbar-toggle{
	clear: both;
	
}
#box{
	margin: 0px;
	width: 100%;
	clear: both;
}
#main-content{
	text-align: center;
	
}
#myjumbotron{
	background-color: #ffffff;
	
}
#mymenu{
	font-size: 40px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	
}
#chicken{
	background-color: #838080;
	font-color: #000000;
	position: relative;
	clear: both;
	margin-bottom: -10px;
}
#lorem{
	background-color: #838080;
	margin-top: 10px;
}
@media(min-width: 992px ) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 
	
	#myjumbotron{
		margin-left: -120px;
	    margin-right: -120px;
	}
	h2, h4{
		margin-left: -120px;
	    margin-right: -120px;
	}
	h2{
		margin-bottom: -30px;
	}
	h4{
		margin-top: -30px;
	}
	.col-lg-12{
		width: 100%
	}
	
	
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
	#myjumbotron{
		margin-left: -80px;
	    margin-right: -80px;
	}
	h2, h4{
		margin-left: -80px;
	    margin-right: -80px;
	}
	.col-md-12{
		width: 100%;
	}
}

@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12
	#myjumbotron{
		margin-left: 40px;
		margin-right: 40px;
	}
	h2, h4{
		margin-left: 40px;
	    margin-right: 40px;
	}
	.col-sm-12{
		width: 100%;
	}
}


